{% extends 'Base/base.html' %}
{% load humanize %}

{% block body %}
    <div class="container mx-auto py-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4  py-3">
            {% for p in producto %}
                <div class="contenido p-2 sm:p-0">
                    <div class="bg-white rounded-xl shadow-lg w-full dark:shadow-lg dark:shadow-gray-400 dark:bg-[#202124]">
                        <div class="sm:w-full sm:max-h-[220px] overflow-hidden rounded-xl">
                            <img src="{{ p.prod_img.url }}"
                                 alt="" class="object-content w-full max-h-[220px]">
                        </div>
                        <div class="contenido p-3">
                            <h2 class="p-2 text-2xl font-semibold dark:text-white ">{{ p.prod_nombre }}</h2>
                            <p class="font-medium text-gray-500 mb-3 dark:text-white ">{{ p.prod_descripcion }}</p>
                            <p class="font-semibold dark:text-white"> $ {{ p.prod_precio | intcomma }}</p>

                            <div class="footer block md:flex md:ju![](C:/Users/janus/AppData/Local/Temp/pexels-jens-mahnke-844867.jpg)stify-between  md:px-6 p-2">
                                <button class="p-2  text-center border-2 border-[#0668E1]  w-full bg-[#0668E1] shadow-lg shadow-[#0668E1] text-white mt-1 mb-2 rounded-full shadow-xl ">
                                    info
                                </button>
                                <button class="p-2  text-center border-2 border-green-500 w-full  md:mx-2 lg:mx-2  bg-green-500 shadow-lg shadow-green-500 text-white mt-1 mb-2 rounded-full">
                                    Comprar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="my-4"></div>


{% endblock %}